* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.wrap {
    max-width: 1280px;
    margin: 0 auto;
    font-size: 16px;
}

/* header */

.header {
    background: #55ADB7;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo {
    font-family:'Cherry Swash', cursive;
    color: #ffffff;
}

.header__nav{
    min-width: 35vw;
    display: flex;
    justify-content: space-between;
}

.header__nav a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.header__nav a::after {
    content: "/";
}

/* promo */

.promo {
    background: url(../img/background_promo.png) no-repeat;
    padding-top: 129px;
    padding-bottom: 31px;
}

.promo .container {
    display: flex;
    flex-direction: column;
}

.promo__excerpt {
    font-size: 44px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

button {
    min-width: 234px;
    border-radius: 5px;
    background: transparent;
    color: #E4E4E4;
    font-size: 1.9em;
    font-weight: 400;
    padding: 8px;
    border: 3px solid #ffffff;
}


.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 121px;
}

.points {
    width: 9px;
    height: 9px;
    background: #ffffff;
    border-radius: 50%;
    margin: 6px;
}

/* main */

.main .container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main h3 {
    font-size: 1.9em;
    color: #4C505D;
    font-weight: 400;
}

.main p {
    font-size: 0.88em;
    color: #4C505D;
}

.main__list--icons {
    display: flex;
    padding-top: 70px;
    margin-bottom: 80px;
}

.main__icon--basket {
    min-width: 57px;
    min-height: 57px;
    padding-right: 126px;
    background: url(../img/icon_basket.png) no-repeat;
}

.main__icon--land {
    min-width: 57px;
    min-height: 57px;
    padding-right: 126px;
    background: url(../img/icon_land.png) no-repeat;
}

.main__icon--bag {
    min-width: 57px;
    min-height: 57px;
    background: url(../img/icon_bag.png) no-repeat;
}

/* testimonial */


.testimonial .container {
    display: flex;
    flex-direction: column;
}

.testimonial {
    background: #00D089;
    padding: 97px 0;
}

.testimonial__pic-wrap {
    position: relative;
}

.dhavan-name {
    position: relative;
}

.dhavan-name span {
    position: absolute;
    top: 35px;
    left: 200px;
    color: #e4e4e4;
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: bold;
}

.testimonial__pic-wrap::after {
    content: "„";
    position: absolute;
    font-size: 8cm;
    line-height: 18px;
    right: -200px;
    font-weight: bold;
    opacity: 0.2;
}

.testimonial__dhavan {
    border-radius: 50%;
}

.testimonial__review {
    font-size: 1.1em;
    color: #ffffff;
    max-width: 853px;
    padding-top: 62px;
}
/* contact */

.contact {
    background: url(../img/background_contact.png) no-repeat;
    display: flex;
    justify-content: center;
}

.contact .container {
    margin: 45px 0;
    width: 431px;
    height: 431px;
    background: #ffffff;
    border-radius: 50%;
    opacity: 0.85;
    border: 2px groove;
}

.form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 276px;
}

.form__user--name {
	font-size: 0.81em;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
    border-radius: 8px;
    margin-bottom: 15px;
}

.form__user--email {
    font-size: 0.81em;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
    border-radius: 8px;
    margin-bottom: 15px;
}

.form__user--message {
    font-size: 0.81em;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
    border-radius: 8px;
    margin-bottom: 15px;
    resize: none;
}

.form__submit {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 32px;
    background: #00D089;
}


/* footer */

footer {
    background: #00D089;
}

.footer__copyright {
    color: #FFFFFF;
    font-size: 0.88em;
    text-transform: uppercase;
}
